<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title Here{% endblock %}</title>
    <style>
        .whole-block{
            display:flex;
            justify-content: center;
            align-items: center;
        }
        .center-block{
            display: flex;
            justify-content: center;
            align-items: center;
            border: 3px solid black;
            border-radius: 16px;
            padding: 10px;
        }
        .test{

        }
    </style>
</head>
<body>
    <div class="whole-block">
        <div class="center-block">
            <form method="POST">
                {% csrf_token %}
                <div>
                {{ form }}</div>
            </form>
        </div>
    </div>
</body>
</html>