<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title Here{% endblock %}</title>
    <style>

    </style>
    {% block styles %}{% endblock %}
</head>
<body>
    <div style="display:flex; flex-direction: column;">
        <a href="/">Home</a>
        <a href="/create-allowance">Create Allowance</a>
        <a href="/ show-allowance">Show Allowance</a>
    </div>
    {% block content %}{% endblock %}

</body>
<script>

</script>
{% block Javascript %}{% endblock %}
</html>