{% extends 'main/base.html' %}

{% block title %}History{% endblock %}

{% block styles %}
    <style>
        /* Whole block */
        .whole-block{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }

        /* Left block */
        .left-block{
            display:flex;
            flex-direction: column;
            text-align: center;
        }

        .middle-block{
            display:flex;
            flex-direction: column;
            width:500px;
            height:250px
        }

        .add-expense-block{
            display:flex;
            flex-direction: column;
            text-align: center;
        }

        .transaction-block{
            display:flex;
            flex-direction: column;
            text-align: center;
        }

        .transaction-block-2{
            display:flex;
            flex-direction: row;
            justify-content: space-between;

        }

        .right-block{
            display:flex;
            flex-direction: column;
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Whole block -->
    <div class="whole-block">

        <div class="left-block">
            <h1>{{ allowance.set_allowance }}</h1>
            <h6 style="margin-block-start:0">{{ allowance.default_allowance }}</h6>
        </div>

        <!-- Middle block -->
        <div class="middle-block">
            <!-- Graph Chart -->
            <canvas id="myChart"></canvas>
            <!-- Percentages -->
            <div>
                <p>{{ saved }}</p>
                <p>{{ spent }}</p>
            </div>
        </div>

        <!-- Right block -->
        <div class="right-block">
            <a href="#">Home</a>
            <a href="#">Overview</a>
            <a href="/history">History</a>
            <a href="#">Edit</a>
            <a href="#">Add</a>
        </div>

    </div>
{% endblock %}

{% block Javascript %}
    <script>
        // Retrieving Chart Data
        function Get_Chart_Data() {
            // Retrieving Chart Data
            fetch("{% url 'chart_history_data' %}",
                {
                    "method": "GET",
                    "headers": {
                        "content-type": "application/json",
                        "X-CSRFToken": '{{ csrf_token }}'
                    }
                })
            .then(response => response.json()) // Transferring data to json data
            .then(data => {
                const ctx = document.getElementById('myChart').getContext('2d');
                new Chart(ctx, {
                    type: 'bar',  // Change for 'bar', 'pie' & 'line'
                    data: {
                        labels: data.labels, // Data Labels

                        datasets: [
                            {
                                label: 'Saved',
                                data: data.saved,
                                backgroundColor: data.color // Color
                            },
                            {
                                label: 'Spent',
                                data: data.spent,
                                backgroundColor: 'rgb(255,25,25)'
                            }
                        ]

                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,

                        scales: {
                            y: {
                                stacked: true,
                                beginAtZero: true,
                                max: 300,
                                ticks: {
                                    stepSize: 10,
                                    callback: function(value) {
                                        return value.toString();
                                    }
                                }
                            },
                            x:{
                                stacked: true
                            }
                        }
                    },
                });
            });
        }

        // Loading Chart Data
        Get_Chart_Data();



    </script>
{% endblock %}