{% extends 'main/base.html' %}

{% block title %}Showing Allowance{% endblock %}

{% block styles %}
    <style>
        /* Whole block */
        .whole-block{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }

        /* Left block */
        .left-block{
            display:flex;
            flex-direction: column;
            text-align: center;
        }

        .middle-block{
            display:flex;
            flex-direction: column;
            width:500px;
            height:250px
        }

        .add-expense-block{
            display:flex;
            flex-direction: column;
            text-align: center;
        }

        .transaction-block{
            display:flex;
            flex-direction: column;
            text-align: center;
        }

        .transaction-block-2{
            display:flex;
            flex-direction: row;
            justify-content: space-between;

        }

        .right-block{
            display:flex;
            flex-direction: column;
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Whole block -->
    <div class="whole-block">

        <div class="left-block">
            <h1>{{ allowance.set_allowance }}</h1>
            <h6 style="margin-block-start:0">{{ allowance.default_allowance }}</h6>
        </div>

        <!-- Middle block -->
        <div class="middle-block">
            <!-- Graph Chart -->
            <canvas id="myChart"></canvas>

            <!-- Add Transaction -->
            <div class="add-expense-block">
                <h2>Add Expense</h2>
                <form method="post">
                    {% csrf_token %}

                    <!-- Expense Type -->
                    <select name="expense_name">
                        {% for item in expense %}
                            <option>{{ item.expense }}</option>
                        {% endfor %}
                    </select>
                    <!-- Expense Description -->
                    <input type="text" name="expense_description">

                    <!-- Expense Amount -->
                    <input type="number" step="0.01" name="expense_amount">

                    <!-- Expense Button -->
                    <button type="submit">Add</button>
                </form>
            </div>
            <!-- Transactions -->
            <div class="transaction-block">
                {% for exp in expense %}
                    {% for description, amount, date, time in exp.spending %}
                        <div class="transaction-block-2">
                            <p>{{ exp.expense }}</p>
                            <p>{{ description }}</p>
                            <p>${{ amount }}</p>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>

        <!-- Right block -->
        <div class="right-block">
            <a href="#">Home</a>
            <a href="#">Overview</a>
            <a href="#">History</a>
            <a href="#">Edit</a>
            <a href="#">Add</a>
        </div>

    </div>
{% endblock %}

{% block Javascript %}

    <script>
        // Retrieving Chart Data
        function Get_Chart_Data() {
            // Retrieving Chart Data
            fetch("{% url 'chart_data' %}",
                {
                    "method": "GET",
                    "headers": {
                        "content-type": "application/json",
                        "X-CSRFToken": '{{ csrf_token }}'
                    }
                })
            .then(response => response.json()) // Transferring data to json data
            .then(data => {
                const ctx = document.getElementById('myChart').getContext('2d');
                new Chart(ctx, {
                    type: 'bar',  // Change for 'bar', 'pie' & 'line'
                    data: {
                        labels: data.labels, // Data Labels

                        datasets: [
                            {
                                label: data.schedule, // Label
                                data: data.values, // Data Values
                                backgroundColor: data.color // Color
                            },
                            {
                                label: data.schedule,
                                data: data.limits,
                                backgroundColor: 'rgb(255,25,25)'
                            }
                        ]

                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,

                        scales: {
                            y: {
                                stacked: true,
                                beginAtZero: true,
                                max: data.allowance,
                                ticks: {
                                    stepSize: 10
                                }
                            },
                            x:{
                                stacked: true
                            }
                        }
                    },
                });
            });
        }

        // Loading Chart Data
        Get_Chart_Data();
    </script>

{% endblock %}