{% extends 'main/base.html' %}


{% block content %}
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>

<button id="link-button">Connect Bank</button>
<script>
  document.getElementById('link-button').onclick = function() {
    fetch('/create-link-token/')
      .then(response => response.json())
      .then(data => {
        const handler = Plaid.create({
          token: data.link_token,
          onSuccess: function(public_token, metadata) {
            fetch('/exchange-public-token/', {
              method: 'POST',
              body: JSON.stringify({public_token: public_token}),
              headers: {'Content-Type': 'application/json'}
            });
          },
        });
        handler.open();
      });
  };
</script>

{% endblock %}

